<div class="start">Angular-Material Исходный вариант</div>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" value="Sushi">
  </mat-form-field>

  <!-- <mat-form-field class="example-full-width">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field> -->
</form>

<div class="start">Angular Gереписан на flex</div>


  <div class="example-form">
      <div class="input-group">
        <label class="label-area" for="favorite-food">Favorite food</label>
        <input class="text-area" placeholder="Ex. Pizza" value="Sushi">
      </div>
  </div>

  <div class="new-task"></div>

  <div class="name-task">Palindrome-checkup</div>

  <div class="palindrome">
    <div class="input-pal-group">
      <input [(ngModel)]="inputText" class="pal-text" placeholder="Enter your palindrome">
      <button class="btn-pal" (click)="isPalindrome()">To check</button>
    </div>
    <div *ngIf="result !== null" class="result" >
      {{ result ? "It Is a Palindrome!" : "This is not palindrome" }}</div>
  </div>
  
  <div class="new-task"></div>




<!-- <router-outlet></router-outlet> -->
