<div class="start">Angular-Material</div>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" value="Sushi">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>
</form>

<div class="start">Angular-Bstrap</div>

<div class="start">Angular-Bstrap 1 Версия частично</div>
  <!-- <form class="example-form"> -->

  <div class="example-form">
      <div class="input-group">
        <label class="label-area" for="favorite-food">Favorite food</label>
        <input class="text-area" placeholder="Ex. Pizza" value="Sushi">
      </div>
  </div>


  <div class="palindrome-task">Palindrome-checkup</div>

  <div class="palindrome">
    <div class="input-pal-group">
      <input [(ngModel)]="inputText" class="pal-text" placeholder="Enter your palindrome">
      <button class="btn-pal" (click)="isPalindrome()">To check</button>
    </div>
  </div>
  
  



  
  <!-- <mat-form-field class="example-full-width">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field> -->


<!-- </form> -->


<!-- <router-outlet></router-outlet> -->
